body {
    margin:0;
    background-image: linear-gradient(120deg, #203030, #276334);
    background-color: green;  
}

#but {
    border-radius: 8.5px;
    background-color :  #83612d;
    border: 0;
}

#but:hover {
    background-color : #2c3e66;
    border: 0;
}

input[type=text] {
    background-color: #3CBC8D;
    color: white;
}


div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80%;
}

.elementDiv{
    margin-bottom: 2.5%;
}

